body {
    font-family: 'Source Sans Pro', sans-serif !important;
    min-height: 100%;
    background-color: #FFFFFF;
}

.page {
	background-color: #FFFFFF;
}

.logotitle {
	display: flex;
	padding: 1em;
}

.title-holder > h1 {
	margin-left: 0.5em;
	margin-top: 0.4em;
	font-size: 1.4em;
	font-weight: 600;
}

.title-holder {
	display: flex;
	margin: auto;
}

.logo {
	height: 4em;
	width: 4em;
	background-color: #fed330;
}

.site-name {
	padding: 0.8em 1em;
}

.site-name h3 {
	font-size: 1.5em;
	font-weight: 600;
}

.headerbox h1 {
	margin-top: 0.5em;
	text-align: center;
	font-size: 3em;
}

.headerbox h2 {
	margin-top: 0.5em;
	text-align: center;
	font-size: 1.6em;
}

.ctabox {
	margin: 2em 0em;
}

.emailinput {
	margin: auto;
	display: flex;
}

.heroimgbox > figure {
	margin: auto;
	margin-top: 3em;
}

.heroimg {
	margin: auto;
	width: 80%;
}

.featurebox {
	margin-top: 1em;
	text-align: center;
}

.featurelogo > figure {
	margin: 2em auto;
	margin-top: 4em;
}

.finalcta {
	margin-top: 6em;
	margin-bottom: 4em;
	text-align: center;
}

.finalctabtn {
	margin-top: 3em;
}

.lastline > h3 {
	font-size: 1.8em !important;
}

.email-cta-bottom {
	margin-top: 2em;
}

.grey-bg {
	background-color: #ced6e0;
}

.pink-bg {
	background-color: #fda7df;
}

.orange-bg {
	background-color: #ffb142;
}

.purple-bg {
	background-color: #a55eea;
	color: #FFFFFF;
}

.black-bg {
	background-color: #1e272e;
	color: #FFFFFF;
}

.blue-bg {
	background-color: #3867d6;
	color: #FFFFFF;
}

.green-bg {
	background-color: #32ff7e;
}

.red-bg {
	background-color: #ff4d4d;
	color: #FFFFFF;
}

a.red-bg:hover {
	color: #FBFBFB;
}

.yellow-bg {
	background-color: #ffd32a;
}

