body {
    font-family: 'Source Sans Pro', sans-serif !important;
    min-height: 100%;
    background-color: #FFFFFF;
}

.page {
	background-color: #FFFFFF;
}

.logotitle {
	display: flex;
	padding: 1em;
}

.title-holder > h1 {
	margin-left: 0.5em;
	margin-top: 0.4em;
	font-size: 1.4em;
	font-weight: 600;
}

.title-holder {
	display: flex;
	margin: auto;
}

.logo {
	height: 4em;
	width: 4em;
	background-color: #fed330;
}

.site-name {
	font-size: 1.5em;
	padding: 0.5em 1em;
}

.headerbox h1 {
	margin-top: 0.5em;
	text-align: center;
	font-size: 3em;
}

.headerbox h2 {
	margin-top: 0.5em;
	text-align: center;
	font-size: 1.6em;
}

.ctabox {
	margin: 2em 0em;
}

.heroimgbox > figure {
	margin: auto;
	margin-top: 3em;
}

.featurebox {
	margin-top: 1em;
	text-align: center;
}

.featurelogo > figure {
	margin: 2em auto;
}

.finalcta {
	margin-top: 6em;
	margin-bottom: 4em;
	text-align: center;
}

.finalctabtn {
	margin-top: 3em;
}